---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto select-none" data-protected-photo>
          <div class="w-[10rem]">
            <Image
              class="mask mask-circle select-none pointer-events-none"
              format="webp"
              width={300}
              height={300}
              src="/photo3.jpg"
              alt="Profile image"
              draggable="false"
              style="-webkit-user-drag: none; user-select: none; -webkit-touch-callout: none;"
            />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>

<script is:inline>
  const protectSidebarPhoto = () => {
    const protectedPhotos = document.querySelectorAll("[data-protected-photo]");

    protectedPhotos.forEach((photo) => {
      if (photo.dataset.protectionBound === "true") return;
      photo.dataset.protectionBound = "true";

      const blockEvent = (event) => {
        event.preventDefault();
      };

      ["contextmenu", "dragstart", "selectstart", "copy"].forEach((eventName) => {
        photo.addEventListener(eventName, blockEvent);
      });
    });
  };

  protectSidebarPhoto();
  document.addEventListener("astro:page-load", protectSidebarPhoto);
</script>
